@model fa18Team22.Models.Genre

@{
    ViewData["Title"] = "Create";
}

@*FONT*@
<style type="text/css">
    body {
        font-family: Georgia;
    }
</style>

<h2>
    <span style="font-size: 3em; color: lightgrey;">
        <i class="fas fa-folder-plus"></i>
    </span>
Create</h2>

<h4>Genre</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="GenreName" class="control-label"></label>
                <input asp-for="GenreName" class="form-control" />
                <span asp-validation-for="GenreName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-warning">Create <i class="fas fa-plus-circle"></i></button>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List <i class="fas fa-arrow-circle-left"></i></a>
</div>


