@model IEnumerable<fa18Team22.Models.Genre>

@{
    ViewData["Title"] = "Genres";
}

@*FONT*@
<style type="text/css">
    body {
        font-family: Georgia;
    }
</style>

<h2>
    <span style="font-size: 3em; color: lightgrey;">
        <i class="fas fa-diagnoses"></i>
    </span>
Genres</h2>

<p>
    <a asp-action="Create" class="btn btn-primary">Create New <i class="fas fa-plus-circle"></i></a>

</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.GenreName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.GenreName)
                </td>
                <td align="right">
                    <a asp-action="Details" asp-route-id="@item.GenreID" class="btn btn-info">Details <i class="fas fa-list-ul"></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>
