@model fa18Team22.Models.Order
@using fa18Team22.Models
@{
    ViewData["Title"] = "Shopping Cart";
}
@*FONT*@
<style type="text/css">
    body {
        font-family: Georgia;
    }
</style>
<h2><i class="fas fa-exclamation-triangle"></i> This book is out of stock.</h2>
<h3>You cannot add this book to your cart at this time. <i class="fas fa-exclamation-triangle"></i></h3>
<div>
    <!--<a asp-action="Checkout">Checkout</a>-->
    <!--Figure out how to get back to list of books-->
    <a asp-controller="Books"
       asp-action="Index" class="btn btn-primary">Keep Shopping <i class="fas fa-shopping-cart"></i></a>
</div>
