@model fa18Team22.Models.Order
@{
    ViewData["Title"] = "Congratulations!";
}

@*FONT*@
<style type="text/css">
    body {
        font-family: Georgia;
    }
</style>

<h2>Your order has been placed!</h2>

<!-- recommendations based on what was ordered-->
<div>
    <p> Recommendations for future purchase: </p>

</div>