@model fa18Team22.Models.Order
@{
    ViewData["Title"] = "PlacedOrder";
}

<h2>Your order has been placed!</h2>

<!-- recommendations based on what was ordered-->
<div>
    <p> Recommendations for future purchase: </p>

</div>