@model fa18Team22.Models.Review

@{
    ViewData["Title"] = "Details";
}

@*FONT*@
<style type="text/css">
    body {
        font-family: Georgia;
    }
</style>

<h2>

    <span style="font-size: 3em; color: lightgrey;">
        <i class="fas fa-list-ul"></i>
    </span>
Details</h2>

<div>
    <h4>Review</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Rating)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Rating)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ReviewText)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ReviewText)
        </dd>
        <dt>
            Approved Status
        </dt>
        @if (Model.ApprovalStatus == false)
    {
        <dd>
            Rejected
        </dd>
}
        @if (Model.ApprovalStatus == true)
    {
        <dd>
            Approved
        </dd>
}
        @if (Model.ApprovalStatus == null)
    {
        <dd>
            In Progress
        </dd>
}
    </dl>
</div>
<div>
    <a asp-action="Index" class="btn btn-secondary">Back to List <i class="fas fa-arrow-circle-left"></i></a>
</div>
