@model IEnumerable<fa18Team22.Models.Review>


@{
    ViewData["Title"] = "Reviews for Book";
}
<h2> Reviews </h2>

<table class="table">
    <thead>
        <tr>
            <th>
                Rating
            </th>
            <th>
                Review
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (Review review in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => review.Rating)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => review.ReviewText)
                </td>
            </tr>
        }
    </tbody>

</table>

<a asp-action="Index" asp-controller="Search" class="btn btn-success">Back to Search</a>
