@model IEnumerable<fa18Team22.Models.InventoryReportVM>

@{
    ViewData["Title"] = "Inventory";
}

@*FONT*@
<style type="text/css">
    body {
        font-family: Georgia;
    }
</style>

<h2>Inventory Report</h2>
<form asp-action="ChooseReport" asp-controller="Search" method="get">
    <p class="form-group">

        <a class="btn btn-danger" href="/Reports/ChooseReport"> Back to Reports </a>
    </p>
</form>

<p>Displaying @ViewBag.SelectedRecords Records </p>

<table class="table">
    <thead>
        <tr>
            <th>
                Title
            </th>
            <th>
                Ammount In Stock
            </th>
            <th>
                Average Cost
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @*TODO: Change the other parts of the View*@
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BooksInInventory)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WeightedAvgCost)
            </td>
        </tr>
        }
    </tbody>
</table>

<p>The Total Cost of the Inventory is: $@ViewBag.TotalCost  </p>
<p>The Total Value of the Inventory when sold is: $@ViewBag.TotalValue  </p>