@{
    ViewData["Title"] = "Home";
}
<h2 align="center">Bevo Books</h2>
<p align="center">
    Hello there! Welcome to the best book store at UT.
</p>
<p align="center">
    <a asp-controller="Books"
       asp-action="Index">Shop Books</a>
</p>


