@{
    ViewData["Title"] = "Home";
}

@*FONT*@
<style type="text/css">
    body {
        font-family: Georgia;
    }
</style>

<h1 align="center">Bevo's Books</h1>

<p align="center">
    Hello there! Welcome to the best book store at UT.
</p>

<p align="center">
    @Html.ActionLink("Shop Books", "Index", "Books", null, new { @class = "btn btn-primary" })
</p>


