@model string
@{
    ViewBag.Title = "Create Role";
}

@*FONT*@
<style type="text/css">
    body {
        font-family: Georgia;
    }
</style>

<h2>
    <span style="font-size: 3em; color: lightgrey;">
        <i class="fas fa-user-tie"></i>
    </span>
Create Role</h2>

@Html.ValidationSummary(true)

<form> 
    <div class="form-group">
        <label>Name</label>
        <input name="name" value="@Model" class="form-control" />
    </div>
    
     <button type="submit" class="btn btn-warning">Create <i class="fas fa-plus-circle"></i></button>

    <a asp-action="Index" class="btn btn-danger">Cancel <i class="fas fa-backspace"></i></a>
</form>
