@using Microsoft.AspNetCore.Identity
@model IEnumerable<RoleEditModel>
@{
    ViewBag.Title = "Manage Users";
}

@*FONT*@
<style type="text/css">
    body {
        font-family: Georgia;
    }
</style>

@*TABLE FORMAT*@
<style>
    table {
        border-collapse: collapse;
        width: 100%;
    }

    th, td {
        padding: 8px;
        text-align: left;
        border-bottom: 2px solid #ddd;
    }
</style>
<h2>
    <span style="font-size: 3em; color: lightgrey;">
        <i class="fas fa-user-tie"></i>
    </span>

Manage Users</h2>
@if (User.IsInRole("Manager"))
{
    <p>
        @Html.ActionLink("Manage Roles", "Index", "RoleAdmin", null, new { @class = "btn btn-primary" })
    </p>
}

<p>
    @Html.ActionLink("Manage Customer Accounts", "ManageCustomerAccounts", "Account", null, new { @class = "btn btn-primary" })
</p>

@if (User.IsInRole("Manager"))
{
    <p>
        @Html.ActionLink("Manage Employee Accounts", "ManageEmployeeAccounts", "Account", null, new { @class = "btn btn-primary" })
    </p>
}
